.landing-body {
  position: relative;
  background-color: #727272;
  height: 100vh;
  overflow: hidden;
}

.landing-hero-img {
  position: absolute;
  overflow: hidden;
  opacity: 0.75;
  width: 1200px;
  top: -250px;
}

.landing-hero-text {
  display: flex;
  flex-direction: column;
  position: absolute; 
  top: 30vh; 
  right: 10vh;
  color: white;
}

.landing-link {
  font-size: 5vh;
  font-weight: 900;
  text-decoration: none;
  color: white;
}