.article-body {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0 auto;
}

.article-header {
  box-shadow: 0px 0px 2px -3px #BABABA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background-color: #EEEFED; 
}

.landing1-hero-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.landing1-hero-title {
  font-size: 5vh;
  font-weight: 900;
  color: #727272;
  margin: 0;
}
.landing1-hero-content {
  font-size: 3vh;
  font-weight: 900;
  color: #727272;
  margin: 0;
}

.landing1-hero-img {
  overflow: hidden;
  opacity: 0.75;
  width: 60vh;
}

.article-img-block {
  /* border: 1px solid black; */
  height: 300px;
  width: 300px
}

.article-panel {
  /* border: 1px solid black; */
  box-shadow: 0px 0px 2px 1px #BABABA;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}